
.OFModular
{
    background-color: #f3f3f4;
}

.PlayerScroll
{
    height: 69.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.TeamScroll
{
    height: 730px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.RuleScroll
{
    height: 730px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.navbar
{
    margin-bottom: 20px;
}

.vr
{
    border-left: 1px lightgray solid;
    height: 100%;
}

.left
{
    border-left: 1px lightgray solid;
}

.right
{
    border-right: 1px lightgray solid;
}

.top
{
    border-top: 1px lightgray solid;
}

.bottom
{
    border-bottom: 1px lightgray solid;
}

.noCorner
{
    border-radius: 0px !important;
}

.teamList{
    height: 70%;
    overflow-y: scroll;
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
}

.pointblock{
    height: 48px;
}

.mt-1-5
{
    margin-top: .38rem;
}

.tall{
    height: 100%;
}

.enactlist
{
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.eventScroll
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 69.5vh;

}

.eventTitleBar
{
    margin-bottom: 10px;
}

.titleTable
{
    width: 100%;
    height: 100%;
}